@model MSLR.web.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="container mt-4">
    <h2 class="mb-4">Voter Registration</h2>

    <form asp-action="Register" method="post" class="col-md-6">

        <div class="mb-3">
            <label asp-for="FullName" class="form-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DOB" class="form-label"></label>
            <input asp-for="DOB" class="form-control" />
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

  
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="SCC" class="form-label"></label>
            <input asp-for="SCC" class="form-control" />
            <span asp-validation-for="SCC" class="text-danger"></span>
        </div>

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Error
            </div>
        }

        <button type="submit" class="btn btn-success">
            Register
        </button>

        <a asp-action="Login" class="btn btn-link">
            Already registered? Login
        </a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}